*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box{
    display: flex;    
    justify-content: center;
    align-items: center;
    box-shadow: 6px 7px 4px rgba(0, 0, 0, 0.1);
    background-color: #f4eeee;
    margin: 2em;
    padding: 2em;
   

}
.contactos{
    display: flex;
    justify-content: start;
    gap: 0px;
    padding: 2em;
    margin: 2em;
    
       
}
.lista{
    padding: 5px;
    margin: 5px;
    padding-bottom: 1em;
    list-style-type: none; 
    
}
.img{
    border-radius: 50%;
    width: 3em;
    height: 3em;
    display: block;
    margin-bottom: 1em;
}
.nombres{
    /* padding-bottom: 1.5em; */
    margin-bottom: 3em;
}
.caja{
    align-content: center;
    text-align: center;
    background-color: rgb(208, 206, 206);
    padding: 7em;
    /* margin: 2em; */
    width: 100vh;
}